In [3]:
import pandas as pd
import re
import urllib.request
from bs4 import BeautifulSoup
import json
import time

In [4]:
az_url = pd.read_csv('data/bb_url.csv')
az_url.head()

  page                                  url
0    A  https://www.billboard.com/artists/a
1    B  https://www.billboard.com/artists/b
2    C  https://www.billboard.com/artists/c
3    D  https://www.billboard.com/artists/d
4    E  https://www.billboard.com/artists/e

In [5]:
az_url = pd.read_csv('data/bb_url.csv')
bb_artist_data = pd.DataFrame(columns=['artist_group', 'artist_category', 'artist_id', 'artist_name', 'artist_url'])

idx = 0

for index, row in az_url.iterrows():
    artist_group = row['page']
    url = row['url']
    page = urllib.request.urlopen(url, data=None, context=None)
    soup = BeautifulSoup(page, "html.parser")
    
    print('Processing - Group: ', artist_group)
    
    for link in soup.find_all('a'):
        if link.get('href') is not None:
            if '/music/' in link.get('href'):
                artist_category = 'Music'
                artist_id = 'n/a'
                artist_name = link.string
                artist_url = link.get('href')
                
                bb_artist_data.loc[idx] = [artist_group, artist_category, artist_id, artist_name, artist_url]
                idx += 1
            elif '/artist/' in link.get('href'):
                artist_category = 'Artist'
                artist_id = re.findall('\d+', link.get('href'))[0]
                artist_name = link.string
                artist_url = link.get('href')

                bb_artist_data.loc[idx] = [artist_group, artist_category, artist_id, artist_name, artist_url]
                idx += 1
    
    time.sleep(30)

print('Scraping - Done!')

Processing - Group:  A
Processing - Group:  B
Processing - Group:  C
Processing - Group:  D
Processing - Group:  E
Processing - Group:  F
Processing - Group:  G
Processing - Group:  H
Processing - Group:  I
Processing - Group:  J
Processing - Group:  K
Processing - Group:  L
Processing - Group:  M
Processing - Group:  N
Processing - Group:  O
Processing - Group:  P
Processing - Group:  Q
Processing - Group:  R
Processing - Group:  S
Processing - Group:  T
Processing - Group:  U
Processing - Group:  V
Processing - Group:  W
Processing - Group:  X
Processing - Group:  Y
Processing - Group:  Z
Processing - Group:  #

In [6]:
bb_artist_data.head()

,artist_group,artist_category,artist_id,artist_name,artist_url
0,A,Artist,275128,A B C & D of Boogie Woogie,/artist/275128/b-c-d-boogie-woogie
1,A,Artist,275133,A Band of Bees,/artist/275133/band-bees
2,A,Music,n/a,A Band Of Bitches,/music/a-band-of-bitches
3,A,Music,n/a,A Band Of Bowsies,/music/a-band-of-bowsies
4,A,Music,n/a,A Bay Bay,/music/a-bay-bay

In [7]:
bb_artist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91541 entries, 0 to 91540
Data columns (total 5 columns):
artist_group       91541 non-null object
artist_category    91541 non-null object
artist_id          91541 non-null object
artist_name        91541 non-null object
artist_url         91541 non-null object
dtypes: object(5)
memory usage: 4.2+ MB

In [8]:
bb_artist_data.to_csv('data/bb_artist_data.csv', encoding='utf-8', index=False)
print('Export to CSV - Done')

Export to CSV - Done